<div class="Box_Blue" style="padding-top: 5px;">
<table width="96%"style="margin: 0 10px 10px 10px;">		
    <tr>       
	    <td align="center" colspan="4"><b>{$infosazman[0][1]}</b></td>
    <tr>
        <td  colspan="4">{$infosazman[0][2]}</td>
    </tr> 
    <tr>
             {if $infosazman[0][3]!=null }<td><a href="images/product/{$infosazman[0][3]}"> <img class="thumbnail"src="images/product/{$infosazman[0][3]}" width="100" height="100" align="top" /></a>{/if}</td>
             {if $infosazman[0][3]!=null }<td><a href="images/product/{$infosazman[0][4]}"><img class="thumbnail"src="images/product/{$infosazman[0][4]}" width="100" height="100" align="top" /></a>{/if}</td>     
             {if $infosazman[0][3]!=null }<td><a href="images/product/{$infosazman[0][5]}"><img class="thumbnail"src="images/product/{$infosazman[0][5]}" width="100" height="100" align="top" /></a>{/if}</td>
             {if $infosazman[0][3]!=null }<td><a href="images/product/{$infosazman[0][6]}"><img class="thumbnail"src="images/product/{$infosazman[0][6]}" width="100" height="100" align="top" /></a>{/if}</td>
    </tr> 	  	
</table>
</div>